@charset "utf-8";
a, p, h1, h2, h3, h4, h5, span, div	{
	font-family: 'UnJamoDotumWeb';
	text-decoration: none;
}
#viewContest	{
	margin-bottom: 10px;	
}
#viewContest:hover	{
	background-color: purple;	
}
#paging_bar	{
	font-size: large;
	padding: 10px;
	margin-bottom: 20px;
	color: white;
}
#paging_bar	a{
	color: silver;
}
#paging_bar	a:hover{
	text-decoration: none;
}
#contest_title	{
	margin-top: 10px;
	background-color: #333;
	color: white;
	margin-bottom: 45px;
}
#contest_title:hover	{
	background-color: purple;	
}
#left_sidebar	{
	min-width: 150px;
}

/* 대결 성립 전 창*/
#waitingText	{
	color: red; 
	font-weight: bold;
}
#waitingText:hover	{
	color: orange; 
}
#waitingImg	{
	border:5px dashed red;
}
ul#nav-list	{
	padding: 0 30px 0 30px;
}

#enroll{
	padding-right:10px;
	padding-left:10px;
}
